table(height='100%', width='100%')
	tbody
		tr
			td(style='vertical-align: top;padding: 2px;')
				#blockly(style='position: fixed;')
		tr
			td(style='vertical-align: bottom;', height='50')
				#dummy

xml#toolbox(style='display:none')
	category(name='Basic',colour='160')
		#{'block'}(type='basic_led16x8')
		#{'block'}(type='basic_led16x8_clr')
		#{'block'}(type='basic_led16x8_2chars')
		#{'block'}(type='basic_led16x8_scroll')
		#{'block'}(type='basic_led16x8_scroll_when_ready')
		#{'block'}(type='basic_delay')
		#{'block'}(type='basic_forever')
		#{'block'}(type='basic_string')
	category(name='Math',colour='230')
		#{'block'}(type='math_number')
		#{'block'}(type='math_arithmetic')
		#{'block'}(type='math_variables_set')
		#{'block'}(type='math_variables_get')
	<sep></sep>
	category(name='Logic',colour='210')
		#{'block'}(type='controls_if')
		#{'block'}(type='controls_if')
			mutation(else='1')
		#{'block'}(type='logic_compare')
		#{'block'}(type='logic_operation')
		#{'block'}(type='logic_negate')
		#{'block'}(type='logic_boolean')
		// #{'block'}(type='logic_null')
		//#{'block'}(type='logic_ternary')
		#{'block'}(type='logic_led16x8_scroll_ready')
		#{'block'}(type='logic_sw1_pressed')
		#{'block'}(type='logic_sw1_released')
		#{'block'}(type='logic_sw2_pressed')
		#{'block'}(type='logic_sw2_released')
	category(name='Loop',colour='120')
		#{'block'}(type='controls_whileUntil')
		#{'block'}(type='loop_break')
		#{'block'}(type='loop_continue')
	category(name='Wait',colour='160')
		#{'block'}(type='wait_led_matrix_ready')
		#{'block'}(type='wait_sw1_pressed')
		#{'block'}(type='wait_sw1_released')
		#{'block'}(type='wait_sw2_pressed')
		#{'block'}(type='wait_sw2_released')
	<sep></sep>
	category(name='Music',colour='330')
		#{'block'}(type='music_note')
		#{'block'}(type='music_rest')
		#{'block'}(type='music_scale')
		#{'block'}(type='music_set_volume')
		#{'block'}(type='music_get_volume')
		// #{'block'}(type='music_set_tempo')
	category(name='Sensor',colour='58')
		#{'block'}(type='sensor_ldr')
		#{'block'}(type='sensor_lm73')
		#{'block'}(type='sensor_switch1')
		#{'block'}(type='sensor_switch2')
	category(name='Clock',colour='19')
		#{'block'}(type='rtc_get')
		#{'block'}(type='rtc_get_date')
		#{'block'}(type='rtc_get_time')
		#{'block'}(type='rtc_get_day')
		#{'block'}(type='rtc_get_month')
		#{'block'}(type='rtc_get_year')
		#{'block'}(type='rtc_get_hour')
		#{'block'}(type='rtc_get_minute')
		#{'block'}(type='rtc_get_second')
	category(name='I/O',colour='19')
		#{'block'}(type='output_write')
		#{'block'}(type='output_toggle')
		#{'block'}(type='output_read')
		#{'block'}(type='usbsw_write')
		#{'block'}(type='usbsw_toggle')
		#{'block'}(type='usbsw_read')
		#{'block'}(type='input_read')
	//category(name='Comm',colour='19')
		//#{'block'}(type='comm_uart_write')
		//#{'block'}(type='comm_uart_writeln')
	//category(name='Advance',colour='290')
		//#{'block'}(type='advance_task')
		//#{'block'}(type='rtc_cal')
		//#{'block'}(type='rtc_cal_coarse')
		//#{'block'}(type='advance_current_drain_write')
	//category(name='IOT',colour='195')
		//#{'category'}(name='Gauge')
			//#{'block'}(type='gauge_iot')
			//#{'block'}(type='gauge_title')
			//#{'block'}(type='gauge_unit')
			//#{'block'}(type='gauge_color')
			//#{'block'}(type='gauge_minmax')
		//#{'category'}(name='Feed')
			//#{'block'}(type='feed_iot')
			//#{'block'}(type='feed_main_title')
			//#{'block'}(type='feed_title')
			////#{'block'}(type='feed_unit')
			//#{'block'}(type='feed_color')
			////#{'block'}(type='feed_minmax')
